<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>



  <div class="mx-auto max-w-screen-lg px-4 py-24 sm:px-8">
    <div class="flex items-center justify-between pb-6">
      <div>
        <h2 class="font-semibold text-gray-700">User Accounts</h2>
        <span class="text-xs text-gray-500">View accounts of registered users</span>
      </div>


      <button type="button" data-modal-toggle="add-user-modal" class="flex items-center gap-2 rounded-md bg-blue-600 px-2 py-2 text-ml font-semibold text-white focus:outline-none focus:ring hover:bg-blue-700"   onclick="toggleModal('modal-id')">
        <svg class="-ml-1  h-6 w-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
        Add user
        </button>
    </div>

      <!-- User List-->
    <div class="overflow-y-hidden rounded-lg border">
      <div class="overflow-x-auto">
        <table class="w-full">
          <thead>
            <tr class="bg-blue-600 text-left text-xs font-semibold uppercase tracking-widest text-white">
              <th class="px-5 py-3">ID</th>
              <th class="px-5 py-3">Full Name</th>
              <th class="px-16 py-3">Email</th>
              <th class="px-5 py-3">User Role</th>
              <th class="px-5 py-3">Created at</th>
              <th class="px-5 py-3">Status</th>
              <th class="px-5 py-3"></th>

            </tr>
          </thead>
          <tbody class="text-gray-500">
            {% for user in users %}
            <tr>
              <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                <p class="whitespace-no-wrap">{{user.id}}</p>
              </td>
              
              <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                <div class="flex items-center">
                  <div class="ml-3">
                    <p class="whitespace-no-wrap">{{ user.username }}</p>
                  </div>
                </div>
              </td>

              <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                <p class="whitespace-no-wrap">{{user.email}}</p>
              </td>
              
              <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                <p class="whitespace-no-wrap">{{user.role}}</p>
              </td>

              <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                <p class="whitespace-no-wrap">{{user.created_at}}</p>
              </td>
  
              <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                <span class="rounded-full bg-green-200 px-3 py-1 text-xs font-semibold text-green-900">Active</span>
              </td>
            
              <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">

              <button type="button" data-modal-toggle="user-modal" class="text-white bg-blue-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center"  onclick="toggleModal('modal-id-edit',{{user.id}},'{{user.username}}','{{user.email}}')">
                <svg class="mr-2 h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path><path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path></svg>
                Edit user
                </button>
              </td>
            
            </tr>
            
            <tr>
                {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="flex flex-col items-center border-t bg-white px-5 py-5 sm:flex-row sm:justify-between">
        <span class="text-xs text-gray-600 sm:text-sm"> Showing 1 to 5 of 12 Entries </span>
        <div class="mt-2 inline-flex sm:mt-0">
          <button class="mr-2 h-12 w-12 rounded-full border text-sm font-semibold text-gray-600 transition duration-150 hover:bg-gray-100">Prev</button>
          <button class="h-12 w-12 rounded-full border text-sm font-semibold text-gray-600 transition duration-150 hover:bg-gray-100">Next</button>
        </div>
      </div>
    </div>
  </div>


  <div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center" id="modal-id">
    <div class="relative w-auto my-6 mx-auto max-w-3xl">
      <!--content-->
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">

        <!--header-->
        <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
          <h3 class="text-3xl font-semibold">
            Add a new user
          </h3>
          <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" onclick="toggleModal('modal-id')">
            <span class=" text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
              x
            </span>
          </button>
        </div>
        <!--body-->

        <div class="relative p-6 flex-auto">
          <p class="my-4 text-slate-500 text-lg leading-relaxed">

              <form action="/users/add/" method="POST" class="w-80">
                
                
                <div class="mb-4">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Username
                  </label>
                  <input class="shadow appearance-none border rounded w-full py-2 px-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="username" id="username" type="text" placeholder="Username" >
                </div>
                
                <div class="mb-4">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    Email
                  </label>
                  <input class="shadow appearance-none border rounded w-full py-2 px-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="email" id="email" type="email" placeholder="user@email" >
                </div>

                <label for="role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an option</label>
                <select id="role" name="role" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <option selected>Choose a Role</option>
                  <option value="Administrator">Administrator</option>
                  <option value="Developer">Developer</option>
                  <option value="Design">Design</option>
                </select>


                <div class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
                  <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" onclick="toggleModal('modal-id')">
                    Close
                  </button>

                  <input type="submit" class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 cursor-pointer" type="button" onclick="toggleModal('modal-id')" value="Save">
                </div>
              </form>
          </p>
        </div>
      </div>
    </div>
  </div>


  <!-- Edit-->
  <div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center" id="modal-id-edit">
    <div class="relative w-auto my-6 mx-auto max-w-3xl">
      <!--content-->
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">

        <!--header-->
        <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
          <h3 class="text-3xl font-semibold">
            Edit <span class="underline" id="p-username"></span> informations 
          </h3>
          <button class="p-1 ml-auto text-red-500  border-0 text-black  float-right text-3xl leading-none font-semibold" onclick="toggleModal('modal-id-edit')">
              x
          </button>
        </div>
        <!--body-->

        <div class="relative p-6 flex-auto">
          <p class="my-4 text-slate-500 text-lg leading-relaxed">

              <form action="/users/update/" method="POST" id="formid">
                <input type="hidden" name="_method" value="PUT" id="_method">

                
                <div class="mb-4">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Username
                  </label>
                  <input class="shadow appearance-none border rounded w-full py-2 px-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="username" id="username-edit" type="text" placeholder="Username">
                </div>
                <div class="mb-4">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    Email
                  </label>
                  <input class="shadow appearance-none border rounded w-full py-2 px-8 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="email" id="email-edit" type="email" placeholder="user@email">
                </div>

                <label for="role" class="block text-gray-700 text-sm font-bold mb-2">Select an option</label>
                <select id="role" name="role" class="bg-gray-50 border border-gray-300 text-gray-900 mb-4 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <option selected>Choose a Role</option>
                  <option value="Administrator">Administrator</option>
                  <option value="Developer">Developer</option>
                  <option value="Design">Design</option>
                </select>


                <div class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
                  
                  <button type="submit" type="button"  id="btn-del-user" class="mr-24 text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center" value="id" onclick="del_user()">
                    <svg class="mr-2 h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
                    Delete user
                  </button>
                    
                  <button id="btn-del-user" class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" onclick="toggleModal('modal-id-edit')">
                    Close
                  </button>

                  <input type="submit" class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 cursor-pointer" type="button"  value="Save">

                </div>
              </form>
          </p>
        </div>
      </div>
    </div>
  </div>



  <div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="modal-id-backdrop"></div>
  <div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="modal-id-edit-backdrop"></div>



  <script type="text/javascript">
    function toggleModal(modalID,id,username,email){

      document.getElementById("p-username").innerText = username
      document.getElementById("username-edit").value = username
      document.getElementById("email-edit").value = email



      document.getElementById(modalID).classList.toggle("hidden");
      document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
      document.getElementById(modalID).classList.toggle("flex");
      document.getElementById(modalID + "-backdrop").classList.toggle("flex");
      const form = document.getElementById("formid")
      form.action="/users/update/"+id+"/"

      document.getElementById("btn-del-user").value=id

    } 

    function del_user(){
      const form = document.getElementById("formid")
      document.getElementById("_method").value="DEL"
      const id = document.getElementById("btn-del-user").value 
      form.action="/users/del/"+id+"/"

      form.submit()
      

    }

  </script>

    
</body>
</html>


